<div class="tab" data-group="primary" data-tab="attributes">
    <table class="attributes">
        <tr>
            <td>
                <label>{{localize "CXV1.Strength"}}</label>
                <input data-dtype="Number"  type="number" name="data.attributes.strength" value="{{data.data.attributes.strength}}" placeholder="" />
            </td>
            <td>
                <label>{{localize "CXV1.Agility"}}</label>
                <input data-dtype="Number"  type="number" name="data.attributes.agility" value="{{data.data.attributes.agility}}" placeholder="" />
            </td>
            <td>
                <label>{{localize "CXV1.Size"}}</label>
                <input data-dtype="Number"  type="number" name="data.attributes.size" value="{{data.data.attributes.size}}" placeholder="" />
            </td>
            <td>
                <label>{{localize "CXV1.Reflexes"}}</label>
                <input data-dtype="Number"  type="number" name="data.attributes.reflexes" value="{{data.data.attributes.reflexes}}" placeholder="" />
            </td>
            <td>
                <label>{{localize "CXV1.GoodLuck"}}</label>
                <input data-dtype="Number"  type="number" name="data.attributes.goodluck" value="{{data.data.attributes.goodluck}}" placeholder="" />
            </td>
        </tr>
        <tr>
            <td>
                <label>{{localize "CXV1.Intelligence"}}</label>
                <input data-dtype="Number"  type="number" name="data.attributes.intelligence" value="{{data.data.attributes.intelligence}}" placeholder="" />
            </td>
            <td>
                <label>{{localize "CXV1.Willpower"}}</label>
                <input data-dtype="Number"  type="number" name="data.attributes.willpower"  value="{{data.data.attributes.willpower}}" placeholder="" />
            </td>
            <td>
                <label>{{localize "CXV1.Perception"}}</label>
                <input data-dtype="Number"  type="number" name="data.attributes.perception" value="{{data.data.attributes.perception}}" placeholder="" />
            </td>
            <td>
                <label>{{localize "CXV1.Influence"}}</label>
                <input data-dtype="Number"  type="number" name="data.attributes.influence" value="{{data.data.attributes.influence}}" placeholder="" />
            </td>
            <td>
                <label>{{localize "CXV1.BadLuck"}}</label>
                <input data-dtype="Number"  type="number" name="data.attributes.badluck" value="{{data.data.attributes.badluck}}" placeholder="" />
            </td>
        </tr>
    </table>
</div>