<div class="tab" data-group="primary" data-tab="informations">
    <table class="informations">
        <tr>
            <td colspan="2">
                <label>{{localize "CXV1.LastName"}} :</label>
                <input type="text" name="data.file.lastname" value="{{data.data.file.lastname}}" placeholder="{{localize 'CXV1.LastName'}}" />
            </td>
            <td colspan="2">
                <label>{{localize "CXV1.FirstName"}} :</label>
                <input type="text" name="data.file.firstname" value="{{data.data.file.firstname}}" placeholder="{{localize 'CXV1.FirstName'}}" />
            </td>
            <td>
                <label>{{localize "CXV1.DateOfBirth"}} :</label>
                <input type="text" name="data.file.datebirth" value="{{data.data.file.datebirth}}" placeholder="{{localize 'CXV1.DateOfBirth'}}" />
            </td>
            <td>
                <label>{{localize "CXV1.PlaceOfBirth"}} :</label>
                <input type="text" name="data.file.placebirth" value="{{data.data.file.placebirth}}" placeholder="{{localize 'CXV1.PlaceOfBirth'}}" />
            </td>
        </tr>
        <tr>
            <td>
                <label>{{localize "CXV1.Gender"}} :</label>
                <input type="text" name="data.file.gender" value="{{data.data.file.gender}}" placeholder="{{localize 'CXV1.Gender'}}" />
            </td>
            <td>
                <label>{{localize "CXV1.Height"}} :</label>
                <input type="text" name="data.file.height" value="{{data.data.file.height}}" placeholder="{{localize 'CXV1.Height'}}" />
            </td>
            <td>
                <label>{{localize "CXV1.Weight"}} :</label>
                <input type="text" name="data.file.weight" value="{{data.data.file.weight}}" placeholder="{{localize 'CXV1.Weight'}}" />
            </td>
            <td>
                <label>{{localize "CXV1.HairColor"}} :</label>
                <input type="text" name="data.file.hair" value="{{data.data.file.hair}}" placeholder="{{localize 'CXV1.HairColor'}}" />
            </td>
            <td>
                <label>{{localize "CXV1.EyeColor"}} :</label>
                <input type="text" name="data.file.eyes" value="{{data.data.file.eyes}}" placeholder="{{localize 'CXV1.EyeColor'}}" />
            </td>
            <td>
                <label>{{localize "CXV1.MaritalStatus"}} :</label>
                <input type="text" name="data.file.maritalstatus" value="{{data.data.file.maritalstatus}}"  placeholder="{{localize 'CXV1.MaritalStatus'}}" />
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <label>{{localize "CXV1.CurrentAddress"}} :</label>
                <input type="text" name="data.file.address" value="{{data.data.file.address}}" placeholder="{{localize 'CXV1.CurrentAddress'}}" />
            </td>
        </tr>
    </table>
</div>